/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

/* CSS Variables */
:root {
	--fs: 'Josefin Sans', sans-serif;

	--clr-primary: hsl(0, 36%, 70%);
	--clr-secondary: hsl(0, 93%, 68%);
	--clr-neutral: hsl(0, 6%, 24%);

	--gradient-background: linear-gradient(
		135deg,
		hsl(0, 0%, 100%),
		hsl(0, 100%, 98%)
	);
	--gradient-button: linear-gradient(
		135deg,
		hsl(0, 80%, 86%),
		hsl(0, 74%, 74%)
	);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	border: none;
	cursor: pointer;
}

input {
	font-family: inherit;
	color: inherit;
}

img {
	max-width: 100%;
	display: block;
}

/* Main Page */
body {
	font-family: var(--fs);
	line-height: 1.5;
	color: var(--clr-primary);
}

.container {
	min-height: 100vh;
	display: flex;
}

.marketing {
	background: url('../images/bg-pattern-desktop.svg') no-repeat bottom
		right/cover;

	width: 58%;
}

.marketing-textwrap {
	max-width: 31.25rem;
	margin-inline: auto;
	padding-block: 4rem;
	padding-inline: 2rem;
}

.logo-img {
	margin-bottom: 8.5rem;
}

.title {
	font-size: 3.75rem;
	display: flex;
	flex-direction: column;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 0.625rem;
	margin-bottom: 2rem;
}

.thin {
	font-weight: 300;
}

.thick {
	font-weight: 600;
	color: var(--clr-neutral);
}

.lead {
	margin-bottom: 3rem;
}

.subscribe-form {
	position: relative;
}

.form-input {
	width: 100%;
	padding-block: 1rem;
	padding-inline: 2rem;
	border-radius: 2rem;
	border: 1px solid var(--clr-primary);
}

.form-input::placeholder {
	font-size: 0.875rem;
}

.btn-submit {
	background: var(--gradient-button);
	padding-block: 1rem;
	padding-inline: 2.625rem;
	border-radius: 2rem;
	position: absolute;
	top: 0;
	right: 0;
	box-shadow: hsla(0, 0%, 0%, 0.176) 0px 1rem 3rem 0px;
}

.btn-submit:hover {
	background: hsl(0, 80%, 86%);
}

.icon-error {
	display: none;
	position: absolute;
	top: 0.9375rem;
	right: 6.5rem;
}

.error-msg {
	display: none;
	color: var(--clr-secondary);
	padding-inline: 2rem;
	font-size: 0.875rem;
	margin-top: 0.625rem;
	text-align: left;
}

.marketing-img-mobile {
	display: none;
}

.marketing-img-desktop {
	background: url('../images/hero-desktop.jpg') no-repeat top center/cover;
	width: 42%;
}

@media (max-width: 37.5rem) {
	.container {
		flex-direction: column;
	}

	.marketing {
		background: var(--gradient-background);
		width: 100%;
		min-height: 100vh;
	}

	.marketing-textwrap {
		max-width: 31.25rem;
		margin-inline: auto;
		padding: 0;
	}

	.logo-img {
		padding: 2rem;
		margin-bottom: 0;
	}

	.text-chunk {
		padding-inline: 2rem;
		padding-block: 4rem;
		text-align: center;
	}

	.title {
		font-size: 3rem;
	}

	.marketing-img-mobile {
		display: block;
		width: 100%;
	}

	.marketing-img-desktop {
		display: none;
	}
}
